---
import { Image } from "astro:assets";
import imgCuncha from "../assets/cuncha.webp";
---

<div class="caixa py-5">
  <a href="/" class="block mx-auto w-fit">
    <Image src={imgCuncha} alt="Logo Turismo de Galicia" class="w-7" />
  </a>
</div>
