---
import "../styles/global.css";
// Supports weights 400-700
import "@fontsource-variable/lora";
// Supports weights 100-900
import "@fontsource-variable/jost";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Galicia Spa Pilgrimage</title>
  </head>
  <body>
    <div class="fixed top-0 left-1/2 border-l border-indigo-800 bottom-0 z-0"></div>
    <div class="relative z-10">
      <Navbar />
      <slot />
      <Footer />
    </div>
  </body>
</html>
